<h2>Hello World</h2>
<p>
  The time is now: <%= Time.now %>
</p>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
  <%= @nearby_results.all.inspect %>
</div>


<script>
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  var locMarkers = []
  <% @locations.each do |location| %>
  locMarkers.push({
    lat: <%= location[1] %>,
    lng: <%= location[2] %>,
    infowindow: "<%= location[0] %>"
  });
<% end %>
markers = handler.addMarkers(locMarkers)
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
  handler.getMap().setZoom(14);
});
</script>